# The URL the site will be built for
base_url = "https://agathoz.xyz"

# Whether to automatically compile all Sass files in the sass directory
compile_sass = false

# Whether to build a search index to be used later on by a JavaScript library
build_search_index = true

[markdown]
# Whether to do syntax highlighting
# Theme can be customised by setting the `highlight_theme` variable to a theme supported by Zola
highlight_code = true

[extra]


author ="Ɐ G A T H Ø Z"
role="cute-catgirl"
github ="agathoz"
twitter ="ke0pzerk"
