<!DOCTYPE html>

<html lang="{{ config.default_language | default(value="en") }}">
<head>
<link rel="icon" href="{{ get_url(path='gear.gif') }}" type="image/x-icon">
      <link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) | safe }}">
  <meta charset="utf-8">
  <title> AGATHØZ </title>
  <!-- Vercel Speed Insights -->
  <script>
    window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
  </script>
  <script defer src="/_vercel/insights/script.js"></script>
</head>

<body>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock content %}

           <div class="grid">
      <main class="card fade-up">
        <section>
          <h2>About</h2>
          <p class="bio">     
                Hello world, I'm E.E. (BELAMI) a computer systems engineering student with a strong interest in cybersecurity, low-level programming.
          </p>

    <h2>Current Interests</h2>
<ul>
  <li>Rust, Zig, ASM, C++</li>
  <li>Linux internals</li>
  <li>Systems security</li>
  <li>Reverse engineering</li>
  <li>Embedded (Raspberry / ESP)</li>
  <li>Networking</li>
  <li>HTB, labs, writups</li>
</ul>
              
    </div>
  </section>
</body>

</html>












