<!DOCTYPE html>

<html lang="{{ config.default_language | default(value="en") }}">
<head>
<link rel="icon" href="{{ get_url(path='log.png') }}" type="image/x-icon">
      <link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) | safe }}">
  <meta charset="utf-8">
  <title> AGATHØZ </title>
</head>

<body>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock content %}

           <div class="grid">
      <main class="card fade-up">
        <section>
          <h2>About</h2>
          <p class="bio">     
                Hello world, I'm E.E. (BELAMI) a computer systems engineering student with a strong interest in cybersecurity, low-level programming.
          </p>

          <h2>Current Interetings </h2>
          <div class="skills" aria-hidden="false">
            <span class="chip">Rust,zig,ASMB,c++</span>
            <span class="chip">Linux internals</span>
            <span class="chip">Systems security</span>
            <span class="chip">Reverse engineering</span>
            <span class="chip">Embedded (Raspberry / ESP)</span>
            <span class="chip">Networking</span>
            <span class="chip">HTB,labs,writups</span>
          </div>
              
    </div>
  </section>
</body>

</html>










