<footer class="site-footer">
    <div class="footer-content">
        <p>&copy; {{ now() | date(format="%Y") }} <span class="neon-text">BELAMI</span>::free software :3c</p> made with LVOE by MEE      [pgp]
        <div class="social-links">
            <a href="https://github.com/{{ config.extra.github }}" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://twitter.com/{{ config.extra.twitter }}" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
    </div>
</footer>
